@page "/Sales"

<PageTitle>Sales</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex flex-column px-4 py-4 gap-4" Height="100%" Width="100%" Square="true" Elevation="0">
            <MudGrid>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Color="Color.Primary" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Color="Color.Primary"/>
                            <MudText Typo="Typo.subtitle1"><strong>Total Sales</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">₱46,425</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.SwapHoriz" Color="Color.Secondary"/>
                            <MudText Typo="Typo.subtitle1"><strong>No. of Transactions</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">15</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.TrendingUp" Color="Color.Success"/>
                            <MudText Typo="Typo.subtitle1"><strong>Best Selling</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">Doughy's Glazed</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.BarChart" Color="Color.Tertiary"/>
                            <MudText Typo="Typo.subtitle1"><strong>Sales Per Day</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">₱6,632</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Color="Color.Primary" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.Payments" Color="Color.Success"/>
                            <MudText Typo="Typo.subtitle1"><strong>Payment Method Distribution</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">Cash, Card and Mobile Payments</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.Wallet" Color="Color.Tertiary"/>
                            <MudText Typo="Typo.subtitle1"><strong>Net Profit</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">₱14,905</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.SwapCalls" Color="Color.Primary"/>
                            <MudText Typo="Typo.subtitle1"><strong>Refunds</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">₱1,520</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="3">
                    <MudPaper Class="d-flex flex-column gap-2 mud-width-full" Square="true" Elevation="0">
                        <div class="d-flex gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Secondary"/>
                            <MudText Typo="Typo.subtitle1"><strong>Product Category Sales</strong></MudText>
                        </div>
                        <MudText Typo="Typo.body2">Donuts</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    
}